.jetpack-display-remote-posts {
	margin: 5px 0 20px 0;
}

.jetpack-display-remote-posts h4 {
	margin: 5px 0;
	padding: 0;
}

.jetpack-display-remote-posts p {
	margin: 0;
	padding: 0;
}

.jetpack-display-remote-posts img {
	max-width: 100%;
}
#subscribe-email input{width:95%}.comment-subscription-form{margin-bottom:1em}.comment-subscription-form .subscribe-label{display:inline!important}.screen-reader-text{border:0;clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}