body 

{
background-image: url("https://finwake.com/01-sep2010-free-android/paper3.png");
color: black
line-height: 1.3;
}

a:link, a:visited { color: black }

h1 {
    font-size: 3.3vw;
	font-family: Papyrus, fantasy;
    text-align: center;	
}

h2 {
    font-size: 2.7vw;
	font-family: Papyrus, fantasy;
    text-align: center;
}

h3 {
    font-size: 2.4vw;
}

h4 {
    font-size: 2.4vw;
}

.navl {
    display:inline-block;
	margin: -1em 0 0.5em 1em;
	font-size: 2.4vw;
    text-align: left;
	width:48%;
}

.navr {
    display:inline-block;
	margin: -1em 1em 0.5em 0;
	font-size: 2.4vw;
    text-align: right;
	width:46%;
}

.pgcenter{
margin: 0 auto;
padding: 0.4em 0 0.4em 0;
text-align: center;
width:95%;
}

.stranaparent {
    text-align: right;
	width:100%;
}

.stranal {
    display:inline-block;
    text-align: center;
	width:100%;
}

.stranar {
    display:inline-block;
	margin: -1em 1em 1em 0;
	font-size: 2.4vw;
    text-align: right;
	width:14%;
}

.button {
    background-color: transparent; 
    border: 1px solid black;
	border-color: #00755E;
    color: black;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 8px;
}
 
.button:hover {
    background-color: #01796F;
    color: white;
} 

.tekst {
  line-height: 1.3;
  margin-right: auto;
  margin-left: auto;
}

p {
  text-align: justify;
  margin:0;
  padding:0;
}

.left
{
text-align: left;
margin:0;
padding:0;
}

.dialog
{
  text-align: justify;
  margin-left: 5em;
  padding:0;
}


span
{white-space:nowrap;}

.first
{
margin-left: 1.5em;
white-space:nowrap;
}

.nfirst
{
margin-left: 6em;
white-space:nowrap;
}

.nnfirst
{
margin-left: 10em;
white-space:nowrap;
}

.second
{
margin-left: -3.5em;
white-space:nowrap;
}

.btw
{
visibility: hidden;
font-size: 0.2em;
letter-spacing: 8em;
}

.wider
{letter-spacing: 0.03em;}

.narrow 
{letter-spacing: -0.02em;}


.firstnar 
{
margin-left: 1.5em;
white-space:nowrap;
letter-spacing: -0.02em;
}

.last
{word-spacing: 0.15em;}


/* vertikalna: Sony C5 = 360 */
@media only screen and (max-width: 365px)

    { body { font-size: 2.4vw;}
	.tekst {width: 90%;}
    } 

/* vertikalna: Google Pixel, Nexus, Samsung Galaxy S8+,S9+,S10+ = 412 */
@media only screen and (min-width: 366px) and (max-width: 412px)

    { body { font-size: 2.5vw;}
	.tekst {width: 92%;}
	}	

/* LG G5, One Plus 3, Huawei P20 = 480, vertikalna */
@media only screen and (min-width: 413px) and (max-width: 480px) and (orientation:portrait)

    { body { font-size: 2.6vw;}
	.tekst {width: 92%;}
    } 

/* Sony Xperia = 540, vertikalna */
@media only screen and (min-width: 481px) and (max-width: 570px) and (orientation: portrait)

    { body { font-size: 2.8vw;}
	.tekst {width: 93%;}
    } 

/* Alcatel tablet = 600, vertikalna */
@media only screen and (min-width: 571px) and (max-width: 640px) and (orientation: portrait)

    { body { font-size: 2.5vw;}
	.tekst {width: 94%;}
    }  

/* Sony C5 = 640, horizontalna */
@media only screen and (min-width: 413px) and (max-width: 640px) and (orientation:landscape)

    { body { font-size: 2.4vw;}
	.tekst {width: 90%;}
    }

/* Surface Pro = 720, vertikalna */
@media only screen and (min-width: 641px) and (max-width: 760px) and (orientation:portrait)

    { body { font-size: 2.8vw;}
	.tekst {width: 88%;}
   }
   
/* horizontalna: Samsung Galaxy S8, S9 = 740, S9+, S10 = tacno izmedju 741-760 */
@media only screen and (min-width: 641px) and (max-width: 760px) and (orientation:landscape)

    { body { font-size: 2.4vw;}
	.tekst {width: 90%;}
}

/* Samsung Galaxy Tab 10, Amazon Kindle Fire = 800, vertikalna */
@media only screen and (min-width: 761px) and (max-width: 800px) and (orientation:portrait)

    { body { font-size: 2.5vw;}
	.tekst {width: 90%;}
}

/* Samsung Galaxy S20 (2020) = 800, horizontalna */
@media only screen and (min-width: 761px) and (max-width: 800px) and (orientation:landscape)

    { body { font-size: 2.5vw;}
	.tekst {width: 90%;}
	}

/* Neki android tablet, vertikalna */
@media only screen and (min-width: 801px) and (max-width: 1075px) and (orientation:portrait)

    { body { font-size: 2.5vw;}
	.tekst {width: 90%;}
    }

/* Samsung A5 (tacno tu), Xiaomi Mi 10 = 851, horizontalna */
@media only screen and (min-width: 801px) and (max-width: 900px) and (orientation:landscape)

    { body { font-size: 2.5vw;}
	.tekst {width: 94%;}
}
	
/* Alcatel tablet = 960, Huawei Mate 20 Pro = 1040, horizontalna */
@media only screen and (min-width: 901px) and (max-width: 1075px) and (orientation:landscape)

    { body { font-size: 2.5vw;}
	.tekst {width: 85%;}
    }

/* horizontalna, nesto */	
@media only screen and (min-width: 1076px) and (max-width: 1250px)

    { body { font-size: 2.4vw; }
    .tekst {width: 70%;}
    .strana {padding-right:1.7em;}
    }

/* Lenovo tablet 10 = 800x1280-horizontalna, my desktop */
@media only screen and (min-width: 1251px) and (max-width: 1350px)

    { body { font-size: 2.3vw;}
    .tekst {width: 64%;}
    .strana {padding-right:1.7em;}
    }

@media only screen and (min-width: 1351px) and (max-width: 1500px)

    { body { font-size: 2vw;}
	.tekst {width: 58%;}
    .strana {padding-right:1.7em;}
    }

@media only screen and (min-width: 1501px) 

    { body { font-size: 2vw;}
	.tekst {width: 56%;}
    .strana {padding-right:1.7em;}
    }


#container {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}


.btn {
    display: inline-block;
    padding: 10px;
    border-radius: 5px; /*optional*/
    color: #aaa;
    font-size: .875em;
}

.pagination {
    background: #f2f2f2;
    padding: 5px;
    margin-bottom: 5px;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin: 0.4em 0.2em;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}


.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}

#strohan{
    height: 200px;
    width: 100%;
    line-height: 200px;
    text-align: center;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 8px 16px;
    font-size: 2.2vw;
    cursor: pointer;
	outline:none;

}

/* Burnt orange */
.previous {
    border-color: #CC5500;
    color: black;

}

.previous:hover {
    background-color: #CC5500;
    color: white;
}

/* Cinnamon */
.content {
    border-color: #D2691E;
    color: black;

}

.content:hover {
    background: #D2691E;
    color: white;
}

/* Burnt orange */
.next {
    border-color: #CC5500;
    color: black;

}

.next:hover {
    background: #CC5500;
    color: white;
}
